<%= page_title '音频上传' %>
<div>
  <%= render 'form' %>
</div>
<div>
  <table>
    <thead>
    <tr>
      <th>音频</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% if @audios %>
        <% @audios.each do |audio| %>
            <tr>
              <td><%= audio.original_filename %></td>
              <td>
                <%= link_to 'Destroy', audio, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>

</div>

