<%= page_title '文档上传' %>
<div>
  <%= render 'form' %>
</div>
<div>
  <table>
    <thead>
    <tr>
      <th>文档</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% if @documents %>
        <% @documents.each do |document| %>
            <tr>
              <td><%= document.original_filename %></td>
              <td>
                <%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>

</div>

