<%= page_title '图片上传' %>
<div>
  <%= render 'form' %>
</div>
<div>
  <table>
    <thead>
    <tr>
      <th>图片</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% if @pictures %>
      <% @pictures.each do |picture| %>
        <tr>
          <td><%= picture.original_filename %></td>
          <td>
            <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

</div>

