<div class="row">
  <% if flash.any? %>
    <% flash.each do |type,msg| %>
      <% if msg.present? %>
        <%= content_tag :div, msg, class: "#{flash_css(type)}" do %>
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= msg %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

