<!DOCTYPE html>
<html>
<%= render 'layouts/head'%>
<body class="sticky">

  <%= render 'layouts/header'%>

  <div class="container main-container">
    <%= render 'layouts/flash'%>

    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
